/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
@font-face {
    font-family: 'Inter-Variable';
    src: url('./Inter-Variable.woff2') format('woff2');
    font-weight: 410 715;
}

@font-face {
    font-family: 'PressStart2P-Regular';
    src: url('./PressStart2P-Regular.woff') format('woff2');
}