/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--main-font-text, 410);
  background-image: var(--bg-gradient);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-block-start: 100px;
  margin-block-end: 100px;
  padding-block: clamp(6.778rem, 0.75vw + 6.621rem, 7.222rem);
}

.header_main-title {
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: clamp(2.722rem, 4.9vw + 1.7rem, 3.611rem);
}

.header_title {
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: clamp(0.778rem, 2.8vw + 0.194rem, 1.278rem);
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.card {
  inline-size: var(--width-adaptive);
  background-color: var(--bg-color);
  border: 2px solid var(--bg-border-color);
}

.card_title {
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--main-font-title, 715);
  font-size: 1rem;
  padding-block: 4px;
  padding-inline: 10px;
}

.card_image-block {
  position: relative;
}

.image-block_watermark {
  position: absolute;
  mix-blend-mode: hard-light;
  opacity: 50%;
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  top: 25px;
  right: 25px;
  /*сделать обводку*/
}

.card_image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.card_content {
  display: flex;
  flex-direction: column;
  padding-inline: 25px;
  padding-block: 25px;
  gap: 25px;
}

.card_content-text {
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--main-font-text, 410);
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card_content-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.button {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: 14px;

}

.card__icon-button {
  height: 38px;
  width: 38px;
  border: none;
}
