/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: var(--main-font-text);
  background-image: var(--bg-gradient);
  background-attachment: fixed;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  inline-size: var(--width-adaptive);
  margin: 0 auto;
  background-color: var(--bg-color);
  border: 2px solid var(--bg-border-color);
}

.header_main-title {
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: clamp(2.722rem, 4.9vw + 1.7rem, 3.611rem);
}

.header_title {
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: clamp(0.778rem, 2.8vw + 0.194rem, 1.278rem);
}
